@using PagedList.Mvc;
@using PagedList;
@model IPagedList<TechWorld.Models.DonHang>
@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Input -->
<form action="~/Admin/findDonHang">
    <div class="relative flex flex-wrap items-stretch w-1/4 mb-6 ml-2 transition-all rounded-lg ease-soft">
        <span class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
            <i class="fas fa-search"></i>
        </span>
        <input type="text"
               class="pl-8.75 text-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
               placeholder="Tìm kiếm..."
               name="nameSearch" />
    </div>
</form>

<!-- table 1 -->
<div class="flex flex-wrap -mx-3">
    <div class="flex-none w-full max-w-full px-3">
        <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
            <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                <h6>Thông tin khách hàng</h6>
            </div>
            <div class="flex-auto px-0 pt-0 pb-2">
                <div class="p-0 overflow-x-auto">
                    <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
                        <thead class="align-bottom">
                            <tr>
                                <th class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Họ Tên</th>
                                <th class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Địa Chỉ</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Ngày Đặt</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Tổng Tiền</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Phương thức Thanh Toán</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Thông Tin Đơn Hàng</th>
                                <th class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">Thông Tin Thanh Toán</th>
                                <th class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-gray-200 border-solid shadow-none tracking-none whitespace-nowrap text-slate-400 opacity-70"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                        <span class="text-base font-semibold leading-tight text-slate-400 ml-6">@item.KhachHang.HoTen</span>
                                    </td>
                                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                        <span class="text-base font-semibold leading-tight text-slate-400">@item.KhachHang.DiaChi</span>
                                    </td>
                                    <td class="p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                        <span class="text-base font-semibold leading-tight text-slate-400">@String.Format("{0:dd/MM/yyyy}", item.NgayDat)</span>
                                    </td>
                                    <td class="p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                        <span class="text-base font-semibold leading-tight text-slate-400">@String.Format("{0:#,##0} VNĐ", item.TongTien)</span>
                                    </td>
                                    <form method="post" action="@Url.Action("updateDonHang", "Admin", new { id = item.MaDH })">
                                        <td class="relative p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                            <select name="PTThanhToan" class="text-base font-semibold leading-tight pr-2 border-none focus:outline-none appearance-none">
                                                <option value="COD" @(item.PTThanhToan == "COD" ? "selected" : "") class="text-[#22c55e]">COD</option>
                                                <option value="Paypal" @(item.PTThanhToan == "Paypal" ? "selected" : "") class="text-[#2563eb]">Paypal</option>
                                            </select>
                                            <div class="pointer-events-none absolute inset-y-0 right-20 flex items-center px-2 text-gray-700">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                                            </div>
                                        </td>
                                        <td class="relative p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                            <select name="TTDonHang" class="text-base font-semibold leading-tight focus:outline-none pr-2 border-none focus:outline-none appearance-none">
                                                <option value="Chưa giao hàng" @(item.TTDonHang == "Chưa giao hàng" ? "selected" : "") class="text-red-500">Chưa giao hàng</option>
                                                <option value="Đã giao hàng" @(item.TTDonHang == "Đã giao hàng" ? "selected" : "") class="text-green-500">Đã giao hàng</option>
                                            </select>
                                            <div class="pointer-events-none absolute inset-y-0 right-8 flex items-center px-2 text-gray-700">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                                            </div>
                                        </td>
                                        <td class="relative p-2 text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                            <select name="TTThanhToan" class="text-base font-semibold leading-tight focus:outline-none pr-2 border-none focus:outline-none appearance-none">
                                                <option value="Chưa thanh toán" @(item.TTThanhToan == "Chưa thanh toán" ? "selected" : "") class="text-red-500">Chưa thanh toán</option>
                                                <option value="Đã thanh toán" @(item.TTThanhToan == "Đã thanh toán" ? "selected" : "") class="text-green-500">Đã thanh toán</option>
                                            </select>
                                            <div class="pointer-events-none absolute inset-y-0 right-8 flex items-center px-2 text-gray-700">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                                            </div>
                                        </td>
                                    <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                        <div class="flex flex-row gap-4">
                                            <a href="@Url.Action("deleteDonHang", "Admin", new { id = item.MaDH })" class="text-gray-700 hover:text-red-500 duration-200 ease-in-out cursor-pointer">
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 448 512">
                                                    <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                                </svg>
                                            </a>
                                            <button type="submit" class="text-gray-700 hover:text-green-500 duration-200 ease-in-out cursor-pointer">
                                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </td>
                                    </form>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-center space-x-2 my-4">
    @if (Model.PageNumber > 1)
    {
        <a href="@Url.Action("DonHang", new { page = Model.PageNumber - 1 })" class="px-4 py-2 rounded-md bg-gray-200 hover:bg-gray-300">
            Prev
        </a>
    }

    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <a href="@Url.Action("DonHang", new { page = i })" class="px-4 py-2 rounded-md @(i == Model.PageNumber ? "bg-blue-500 text-white" : "bg-gray-200 hover:bg-gray-300")">
            @i
        </a>
    }

    @if (Model.PageNumber < Model.PageCount)
    {
        <a href="@Url.Action("DonHang", new { page = Model.PageNumber + 1 })" class="px-4 py-2 rounded-md bg-gray-200 hover:bg-gray-300">
            Next
        </a>
    }
</div>



