
@{
    ViewBag.Title = "EarphoneList";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Section -->
<div class="mt-10">
    <div class="container mx-auto flex gap-10">
        <aside class="w-64 sticky top-[100px] self-start" aria-label="Sidebar">
            <div class="px-3 py-4 overflow-y-auto rounded bg-gray-50 sm:w-[224px] sm:overflow-hidden rounded-xl">
                <ul class="space-y-2">
                    <li class="text-center">
                        <h2 class="text-lg font-semibold mb-4">Thương Hiệu</h2>
                    </li>
                    <li>
                        <a href="/Earphone/EarphoneCategory?name=HyperX"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 hover:text-blue-500 duration-300 ease-linear">
                            <img src="~/styles/image/icons8-hyperx-64.png"
                                 alt="asusLogo"
                                 class="w-6 h-6" />
                            <span class="flex-1 ml-3 whitespace-nowrap">HyperX</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Earphone/EarphoneCategory?name=Corsair"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 hover:text-blue-500 duration-300 ease-linear">
                            <img src="~/styles/image/corsair.png"
                                 alt="msiLogo"
                                 class="w-6 h-6" />
                            <span class="flex-1 ml-3 whitespace-nowrap">Corsair</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Earphone/EarphoneCategory?name=Razer"
                           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 hover:text-blue-500 duration-300 ease-linear">
                            <img src="~/styles/image/icons8-asus-64.png"
                                 alt="aorusLogo"
                                 class="w-6 h-6" />
                            <span class="flex-1 ml-3 whitespace-nowrap">Razer</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- Breadcrumb, Products -->
        <div class="flex flex-col">
            <!-- Breadcrumb -->
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="/User/Index"
                           class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 duration-300 ease-linear">
                            <svg class="w-3 h-3 me-2.5"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 20 20">
                                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                            </svg>
                            Trang Chủ
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 6 10">
                                <path stroke="currentColor"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="m1 9 4-4-4-4" />
                            </svg>
                            <a href="#"
                               class="ms-1 text-sm font-medium text-blue-700 md:ms-2 cursor-text">Tai nghe</a>
                        </div>
                    </li>
                </ol>
            </nav>
            <!-- Search, Sort -->
            <div class="mt-5" id="searchHidden">
                <div class="flex gap-20">
                    <div class="relative flex items-center w-72 h-12 rounded-lg shadow-lg bg-white overflow-hidden">
                        <div class="grid place-items-center h-full w-12 text-gray-300">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </div>
                        <form id="searchForm" action="/Earphone/EarphoneSearch" method="get">
                            <input class="peer h-full w-full outline-none text-sm text-gray-700 pr-2 bg-white"
                                   type="text"
                                   id="search"
                                   name="Search"
                                   placeholder="Tìm kiếm theo tên.." />
                        </form>
                    </div>
                    <details class="dropdown">
                        <summary class="btn btn-ghost border border-gray-300 text-black m-1">Sắp xếp giá</summary>
                        <ul class="menu dropdown-content white rounded-box z-[1] w-52 p-2 shadowb bg-white">
                            <li class="text-black"><a href="/Earphone/EarphoneAsc">Giá tăng dần</a></li>
                            <li class="text-black"><a href="/Earphone/EarphoneDesc">Giá giảm dần</a></li>
                        </ul>
                    </details>
                </div>
            </div>
            <!-- Product -->
            <div class="mt-14 flex flex-row flex-wrap gap-4 sm:gap-2">
                <!-- Item 1 -->
                @foreach (var item in Model)
                {
                    <input class="hidden product-id" name="maSP" id="maSP" value="@item.MaSP" />
                    <div class="group flex rounded-md max-w-[300px] max-h-[400px] flex-col overflow-hidden border border-neutral-300 bg-neutral-50 text-neutral-600 sm:w-[240px]">
                        <a href="/User/ProductDetail?id=@item.MaSP" class="h-52 md:h-64 overflow-hidden flex items-center justify-center bg-white">
                            <img src="~/@item.HinhAnh"
                                 class="w-full h-full object-contain"
                                 alt="Hình sản phẩm" />
                        </a>
                        <div class="flex flex-col p-6 h-full justify-between">
                            <div>
                                <div class="flex gap-2 mb-2 items-center">
                                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">@item.LoaiHang.TenLoai</span>
                                    <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">@item.NhaCungCap.TenNCC</span>
                                </div>
                                <h3 class="text-balance text-lg lg:text-lg font-bold text-neutral-900"
                                    aria-describedby="featureDescription">
                                    @item.TenSP
                                </h3>
                            </div>
                            <p id="featureDescription" class="text-pretty text-sm">
                                @item.MoTaSanPham
                            </p>
                            <div>
                                @if (item.GiamGia != "0")
                                {
                                    <div class="flex items-center gap-4">
                                        <span class="text-sm"><del>@String.Format("{0:#,##0}", item.GiaTien) <span>Đ</span></del></span>
                                        <span class="text-white bg-red-500 p-1 w-[50px]"> -@item.GiamGia%</span>
                                    </div>
                                    <h3 class="text-2xl text-red-600 mt-2">@String.Format("{0:#,##0}", item.GiaTienDaKhuyenMai) <span>Đ</span></h3>
                                }
                                else
                                {
                                    <h3 class="text-2xl text-red-600 mt-2">@String.Format("{0:#,##0}", item.GiaTien) <span>Đ</span></h3>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
