@model TechWorld.Models.NewsViewModel
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Section -->
<div class="mt-10">
    <div class="container mx-auto">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/User/Index"
                       class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 duration-200 ease-linear">
                        <svg class="w-3 h-3 me-2.5"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Trang chủ
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-blue-700 md:ms-2">Tin tức</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Banner -->
<div class="mt-10">
    <div class="container mx-auto">
        <img src="https://theme.hstatic.net/200000722513/1001090675/14/headblog_banner.jpg?v=6318"
             alt="bannerNews"
             class="rounded-md" />
        <div class="flex gap-6">
            <div class="lg:w-[800px]">
                <img src="https://theme.hstatic.net/200000722513/1001090675/14/headblog_banner.jpg?v=6318"
                     alt=""
                     class="w-full h-[409px] mt-10 rounded-md object-fill object-center cursor-pointer" />
                <h1 class="text-xl mt-2 font-semibold hover:text-red-600 duration-300 ease-linear cursor-pointer">
                    Tổng hợp code Elemental Dungeons 2024 cập nhập liên tục, mới nhất
                </h1>
            </div>
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-2">
                    <img src="https://theme.hstatic.net/200000722513/1001090675/14/headblog_banner.jpg?v=6318"
                         alt=""
                         class="w-1/2 h-40 mt-10 rounded-md cursor-pointer sm:w-[300px]" />
                    <h3 class="text-xl font-semibold hover:text-red-600 w-[300px] cursor-pointer duration-300 ease-linear">
                        Top 12 phần mềm AI Cover được sử dụng nhiều nhất hiện nay
                    </h3>
                </div>
                <img src="https://theme.hstatic.net/200000722513/1001090675/14/headblog_banner.jpg?v=6318"
                     alt=""
                     class="w-1/2 h-40 mt-4 rounded-md object-fill sm:w-[300px] cursor-pointer" />
                <h3 class="text-xl font-semibold hover:text-red-600 w-[300px] cursor-pointer duration-300 ease-linear">
                    Top 12 phần mềm AI Cover được sử dụng nhiều nhất hiện nay
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="mt-10">
    <div class="container mx-auto flex justify-center">
        <div class="flex justify-center mt-10 gap-4 lg:w-[1280px]">
            @foreach (var banner in Model.TinTucBanner.Take(3))
            {
                <div class="w-1/3">
                    <img src="~/@banner.HinhAnh"
                         alt="bannerNews"
                         class="rounded-md h-40" />
                    <h1 class="text-xl mt-2 font-semibold hover:text-red-600 duration-300 ease-linear cursor-pointer">
                        @banner.TieuDe
                    </h1>
                </div>
            }
        </div>
    </div>
</div>

<!-- News Card -->
<div class="mt-10">
    <div class="container mx-auto lg:w-[1280px]">
        <!-- Card 1 -->
        @foreach (var item in Model.TinTuc)
        {
            <div class="max-w-full h-[200px] lg:flex mb-4 border border-gray-400 rounded-lg overflow-hidden">
                <img class="h-48 lg:h-auto lg:w-[400px] flex-none bg-cover text-center overflow-hidden cursor-pointer"
                     src="~/@item.HinhAnh"
                     title="newCard" />
                <div class="border-r bg-white p-4 flex flex-col justify-between leading-normal flex-grow">
                    <div class="mb-8">
                        <div class="text-gray-900 font-bold text-xl mb-2 hover:text-red-600 duration-200 ease-linear cursor-pointer">
                            @item.TieuDe
                        </div>
                        <p class="text-gray-700 text-base">
                            @item.NoiDung
                        </p>
                    </div>
                    <div class="text-sm">
                        <p class="text-blue-900 text-lg font-semibold leading-none">
                            @item.TacGia
                        </p>
                        <div class="text-gray-600 flex items-center gap-2 mt-2">
                            <svg width="17"
                                 height="16"
                                 viewBox="0 0 17 16"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.49968 3.99967C8.32287 3.99967 8.1533 4.06991 8.02827 4.19494C7.90325 4.31996 7.83301 4.48953 7.83301 4.66634V7.33301H6.49968C6.32287 7.33301 6.1533 7.40325 6.02827 7.52827C5.90325 7.65329 5.83301 7.82286 5.83301 7.99967C5.83301 8.17649 5.90325 8.34605 6.02827 8.47108C6.1533 8.5961 6.32287 8.66634 6.49968 8.66634H8.49968C8.67649 8.66634 8.84606 8.5961 8.97108 8.47108C9.09611 8.34605 9.16634 8.17649 9.16634 7.99967V4.66634C9.16634 4.48953 9.09611 4.31996 8.97108 4.19494C8.84606 4.06991 8.67649 3.99967 8.49968 3.99967ZM8.49968 1.33301C7.18114 1.33301 5.8922 1.724 4.79588 2.45654C3.69955 3.18909 2.84506 4.23028 2.34048 5.44845C1.8359 6.66663 1.70387 8.00707 1.96111 9.30028C2.21834 10.5935 2.85328 11.7814 3.78563 12.7137C4.71798 13.6461 5.90587 14.281 7.19908 14.5382C8.49228 14.7955 9.83273 14.6635 11.0509 14.1589C12.2691 13.6543 13.3103 12.7998 14.0428 11.7035C14.7754 10.6071 15.1663 9.31822 15.1663 7.99967C15.1644 6.23216 14.4614 4.5376 13.2116 3.28777C11.9618 2.03795 10.2672 1.33495 8.49968 1.33301ZM8.49968 13.333C7.44484 13.333 6.4137 13.0202 5.53664 12.4342C4.65957 11.8481 3.97599 11.0152 3.57232 10.0407C3.16865 9.06611 3.06304 7.99376 3.26882 6.95919C3.47461 5.92463 3.98256 4.97432 4.72844 4.22844C5.47432 3.48256 6.42463 2.97461 7.4592 2.76882C8.49376 2.56303 9.56612 2.66865 10.5407 3.07232C11.5152 3.47598 12.3481 4.15957 12.9342 5.03663C13.5202 5.91369 13.833 6.94484 13.833 7.99967C13.8312 9.41362 13.2688 10.7691 12.269 11.769C11.2692 12.7688 9.91362 13.3312 8.49968 13.333Z"
                                      fill="#535353"></path>
                            </svg>
                            <p>@item.NgayDang</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

