@model TechWorld.Models.ProductDetailViewModel

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Section -->
<div class="mt-10">
    <div class="container mx-auto pl-10">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="#"
                       class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 duration-200 ease-linear">
                        <svg class="w-3 h-3 me-2.5"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Trang chủ
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-gray-400  md:ms-2">Điện thoại</span>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-blue-700 md:ms-2">Iphone 16 Promax</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Product Detail -->

@foreach (var item in new[] { Model.ProductDetail })
{
    <div class="mt-10">
        <div class="container mx-auto w-[1300px] h-[700px] bg-white rounded-lg shadow-sm">
            <div class="w-full h-full flex gap-10 rounded-lg shadow-2xl">
                <!-- Left -->
                <div class="h-full border-r border-gray-200 pr-4">
                    <img src="~/@item.HinhAnh"
                         class="w-full h-80 object-contain rounded-lg translate-x-[10px] mt-2"
                         alt="product-detail">
                    <img src="https://file.hstatic.net/200000722513/file/laptop_t10_600x200.png"
                         class="w-full h-40 mt-4 mx-2"
                         alt="">
                </div>
                <!-- Right -->
                <div class="p-6">
                    <h1 class="font-bold text-2xl text-black">@item.TenSP</h1>
                    <div class="mt-6 flex flex-row gap-6 items-center">
                        <h2 class="text-3xl text-red-600 font-bold">@String.Format("{0:#,##0 VNĐ}", item.GiaTienDaKhuyenMai)</h2>
                        <p class="text-xl text-gray-400 font-semibold"><del>@String.Format("{0:#,##0 VNĐ}", item.GiaTien)</del></p>
                        <span class="px-2 py-[3px] border border-red-500 rounded-lg text-red-500">-7%</span>
                    </div>
                    <div class="custom-number-input h-10 w-32 mt-2">
                        <label for="custom-input-number" class="w-full text-gray-700 text-sm font-semibold">
                            Số lượng
                        </label>
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                            <button data-action="decrement" id="decrementQuantity" class=" bg-gray-200 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="text" id="quantity_value" class="outline-none focus:outline-none text-center w-full bg-gray-200 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1"/>
                            <button data-action="increment" id="incrementQuantity" class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                        <input class="hidden" name="maSP" id="maSP" value="@item.MaSP" />
                        <button class="w-80 h-[66px] p-3 my-10 bg-red-500 rounded-sm hover:bg-red-700 duration-200 ease-linear"
                                type="button"
                                id="btnAddToCart">
                            <p class="text-white font-bold uppercase">Mua Ngay</p>
                            <p class="text-white font-bold my-[2px]">Giao tận nơi hoặc nhận tại cửa hàng</p>
                        </button>
                        <div class="text-lg font-bold text-red-600 uppercase underline">Quà tặng:</div>
                        <div class="mt-2 flex gap-2 items-center">
                            <img src="/styles/image/persent.png"
                                 class="w-4 h-4"
                                 alt="giftIcon">
                            <a href="#"
                               class="text-lg font-semibold text-blue-500">
                                Voucher ưu đãi Học sinh - Sinh viên trị giá 300k (Từ 01.08 - 31.10.2024)
                            </a>
                        </div>
                        <div class="mt-4 border-t border-gray-400">
                            <div class="flex items-center gap-2 mt-4">
                                <img src="~/styles/image/check.png"
                                     class="w-6 h-6"
                                     alt="checkIcon">
                                <span class="text-lg text-black font-semibold">Bảo hành chính hãng 24 tháng</span>
                            </div>
                            <div class="flex items-center gap-2 mt-4">
                                <img src="~/styles/image/check.png"
                                     class="w-6 h-6"
                                     alt="checkIcon">
                                <span class="text-lg text-black font-semibold">Hỗ trợ đổi mới trong 7 ngày.</span>
                            </div>
                            <div class="flex items-center gap-2 mt-4">
                                <img src="~/styles/image/check.png"
                                     class="w-6 h-6"
                                     alt="checkIcon">
                                <span class="text-lg text-black font-semibold">Miễn phí giao hàng toàn quốc.</span>
                            </div>
                        </div>
                        <h3 class="mt-3 border-t border-gray-400 pt-8 text-lg text-red-500 font-semibold">
                            Hỗ trợ thanh toán Paypal(Ngân hàng điện tử), Paypal
                            <a href="/User/Contact" class="text-lg font-semibold text-blue-300 ml-1 hover:underline cursor-pointer">(Xem chi tiết)</a>
                        </h3>
                    </div>
                </div>
        </div>
    </div>

    <div class="mt-10">
        <div class="container w-[1300px] mx-auto">
            <div class="p-4">
                <div class="flex flex-row gap-40">
                    <div class="w-[800px] bg-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl text-black">Thông tin sản phẩm</h2>
                        <h3 class="text-[22px] font-bold my-4 text-black">Thông số kỹ thuật:</h3>
                        <!-- Table -->
                        <div class="relative w-auto overflow-x-auto sm:rounded-lg">
                            <table class="text-sm text-left rtl:text-right text-gray-500">
                                <tbody class="border border-gray-200">
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="px-2 py-4 w-[200px] font-medium text-lg text-blue-700 whitespace-nowrap bg-gray-200 text-center uppercase border-b border-gray-300">
                                            <a href="#">CPU</a>
                                        </th>
                                        <td class="px-6 py-4 text-black border-b border-gray-300">
                                            Intel® Core™ Ultra 5 Processor 125H 1.2 GHz (18MB Cache, up to 4.5 GHz, 14 cores, 18 Threads); Intel® AI Boost NPU
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2 class="text-2xl mt-4 font-bold text-black">Thiết kế hiện đại, khả năng di động cao</h2>
                        <p class="mt-4 text-lg text-gray-500 text-justify">@item.MoTaSanPham</p>
                        <img src="https://product.hstatic.net/200000722513/product/er-steel-gray-05.tif-custom_3eab1a2f4dbf41a3a19b04c3f5e5fd06_1024x1024_7cb6d3e07426430f90aa9598a9966b74_grande.png" alt="">
                    </div>

                    <!-- Similar Products Section -->
                    <div class="w-[450px] h-[500px] rounded-lg shadow-sm p-4 bg-white rounded-lg shadow-lg">
                        <h2 class="text-2xl font-bold text-black">Sản phẩm tương tự</h2>
                        @foreach (var similarProduct in Model.SimilarProducts)
                        {
                            <div class="flex items-end gap-4 cursor-pointer">
                                <img src="@similarProduct.HinhAnh" alt="" class="w-28 h-28 rounded-lg mt-8">
                                <div>
                                    <h3 class="text-3.5 font-semibold mb-3.5 cursor-pointer">@similarProduct.TenSP</h3>
                                    <h4 class="text-sm"><del>@String.Format("{0:#,##0 VNĐ}", similarProduct.GiaTien)</del></h4>
                                    <div class="flex gap-4">
                                        <h4 class="text-4 mb-3 text-red-500">@String.Format("{0:#,##0 VNĐ}", similarProduct.GiaTienDaKhuyenMai)</h4>
                                        <span class="h-6 text-red-500 border border-red-500 px-2">8%</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
