@model TechWorld.Models.ProductDetailViewModel

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Section -->
<div class="mt-10">
    <div class="container mx-auto pl-10">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="#"
                       class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 duration-200 ease-linear">
                        <svg class="w-3 h-3 me-2.5"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Trang chủ
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-gray-700  md:ms-2">@Session["TenLoai"]</span>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-blue-700 md:ms-2">@Session["TenSP"]</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Product Detail -->

@foreach (var item in new[] { Model.ProductDetail })
{
    <div class="mt-10">
        <div class="container mx-auto w-[1300px] h-[700px] bg-white rounded-lg shadow-sm">
            <div class="w-full h-full flex gap-10 rounded-lg shadow-2xl">
                <!-- Left -->
                <div class="w-2/3 h-full border-r border-gray-200 p-4">
                    <img src="~/@item.HinhAnh" alt="Product"
                         class="w-full h-auto rounded-lg shadow-md mb-4 object-cover" id="mainImage">
                    <div class="flex gap-4 py-4 justify-center overflow-x-auto">
                        <img src="~/@item.HinhAnh" alt="Ảnh sản phẩm"
                             class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                             onclick="changeImage(this.src)">
                        @foreach (var anhSP in Model.HinhAnhSP)
                        {
                            <img src="~/@anhSP.HinhAnh" alt="Ảnh sản phẩm"
                                 class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                                 onclick="changeImage(this.src)">
                        }
                    </div>
                </div>
                <!-- Right -->
                <div class="p-6">
                    <h1 class="font-bold text-2xl text-black">@item.TenSP</h1>
                    <div class="mt-6 flex flex-row gap-6 items-center">
                        @if (int.Parse(item.GiamGia) == 0)
                        {
                            <h2 class="text-3xl text-red-600 font-bold">@String.Format("{0:#,##0 VNĐ}", item.GiaTien)</h2>
                        }
                        else
                        {
                            <h2 class="text-xl whitespace-nowrap text-red-600 font-bold">@String.Format("{0:#,##0 VNĐ}", item.GiaTienDaKhuyenMai)</h2>
                            <p class="text-sm whitespace-nowrap text-gray-400 font-semibold"><del>@String.Format("{0:#,##0 VNĐ}", item.GiaTien)</del></p>
                            <span class="px-2 py-[3px] border border-red-500 rounded-lg text-red-500">-@item.GiamGia%</span>
                        }
                    </div>
                    <div class="custom-number-input h-10 w-32 mt-2">
                        <label for="custom-input-number" class="w-full text-gray-700 text-sm font-semibold">
                            Số lượng
                        </label>
                        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                            <button data-action="decrement" id="decrementQuantity" class=" bg-gray-200 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="text" id="quantity_value" class="outline-none focus:outline-none text-center w-full bg-gray-200 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1" />
                            <button data-action="increment" id="incrementQuantity" class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                    <input class="hidden" name="maSP" id="maSP" value="@item.MaSP" />
                    <button class="w-80 h-[66px] p-3 my-10 bg-red-500 rounded-sm hover:bg-red-700 duration-200 ease-linear"
                            type="button"
                            id="btnAddToCart">
                        <p class="text-white font-bold uppercase">Mua Ngay</p>
                        <p class="text-white font-bold my-[2px]">Giao tận nơi hoặc nhận tại cửa hàng</p>
                    </button>
                    <div class="text-lg font-bold text-red-600 uppercase underline">Quà tặng:</div>
                    <div class="mt-2 flex gap-2 items-center">
                        <img src="/styles/image/persent.png"
                             class="w-4 h-4"
                             alt="giftIcon">
                        <a href="#"
                           class="text-lg font-semibold text-blue-500">
                            Voucher ưu đãi Học sinh - Sinh viên trị giá 300k (Từ 01.08 - 31.10.2024)
                        </a>
                    </div>
                    <div class="mt-4 border-t border-gray-400">
                        <div class="flex items-center gap-2 mt-4">
                            <img src="~/styles/image/check.png"
                                 class="w-6 h-6"
                                 alt="checkIcon">
                            <span class="text-lg text-black font-semibold">Bảo hành chính hãng 24 tháng</span>
                        </div>
                        <div class="flex items-center gap-2 mt-4">
                            <img src="~/styles/image/check.png"
                                 class="w-6 h-6"
                                 alt="checkIcon">
                            <span class="text-lg text-black font-semibold">Hỗ trợ đổi mới trong 7 ngày.</span>
                        </div>
                        <div class="flex items-center gap-2 mt-4">
                            <img src="~/styles/image/check.png"
                                 class="w-6 h-6"
                                 alt="checkIcon">
                            <span class="text-lg text-black font-semibold">Miễn phí giao hàng toàn quốc.</span>
                        </div>
                    </div>
                    <h3 class="mt-3 border-t border-gray-400 pt-8 text-lg text-red-500 font-semibold">
                        Hỗ trợ thanh toán Paypal(Ngân hàng điện tử), Paypal
                        <a href="/User/Contact" class="text-lg font-semibold text-blue-300 ml-1 hover:underline cursor-pointer">(Xem chi tiết)</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-10">
        <div class="container w-[1300px] mx-auto">
            <div class="p-4">
                <div class="flex flex-row gap-40">
                    <div class="w-[800px] bg-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl text-black pb-5">Thông tin sản phẩm</h2>
                        @Html.Raw(item.MoTaSanPham)
                    </div>

                    <!-- Similar Products Section -->
                    <div class="w-[450px] h-[500px] rounded-lg shadow-sm p-4 bg-white rounded-lg shadow-lg border border-gray-400">
                        <h2 class="text-2xl font-bold text-black">Sản phẩm tương tự</h2>
                        @foreach (var similarProduct in Model.SimilarProducts)
                        {
                            <div class="flex items-center gap-4 cursor-pointer">
                                <a href="/User/ProductDetail?id=@similarProduct.MaSP">
                                    <img src="~/@similarProduct.HinhAnh" alt="" class="w-28 h-28 rounded-lg mt-8">
                                </a>
                                <div>
                                    <h3 class="text-3.5 font-semibold mb-3.5 cursor-pointer">@similarProduct.TenSP</h3>
                                    @if (item.GiaTienDaKhuyenMai == 0)
                                    {
                                        <h2 class="text-sm text-red-600 font-bold">@String.Format("{0:#,##0 VNĐ}", similarProduct.GiaTien)</h2>
                                    }
                                    else
                                    {
                                        <h2 class="text-sm text-red-600 font-bold">@String.Format("{0:#,##0 VNĐ}", similarProduct.GiaTienDaKhuyenMai)</h2>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function changeImage(src) {
        document.getElementById('mainImage').src = src;
    }
</script>