<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechWorld</title>
    <link rel="icon" type="image/x-icon" href="~/Styles/image/techworld-high-resolution-logo-grayscale-transparent.png" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
          rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/db6ac4acea.js" crossorigin="anonymous"></script>
    <!-- Nucleo Icons -->
    <link href="~/Styles/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Styles/nucleo-svg.css" rel="stylesheet" />
    <!-- Main Styling -->
    <link href="~/Styles/soft-ui-dashboard-tailwind.css?v=1.0.5"
          rel="stylesheet" />
    <link href="~/Styles/ColorSelectAdmin.css" rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-50 text-slate-500">
    <!-- sidenav  -->
    <aside class="max-w-62.5 ease-nav-brand z-990 fixed inset-y-0 my-4 ml-4 block w-full lg:-translate-x-0 -translate-x-full flex-wrap items-center justify-between rounded-2xl border-0 bg-white p-0 antialiased shadow-none transition-transform duration-200 xl:left-0 xl:translate-x-0 xl:bg-transparent">
        <div class="h-19.5">
            <i class="absolute top-0 right-0 hidden p-4 opacity-50 cursor-pointer fas fa-times text-slate-400 xl:hidden"
               sidenav-close></i>
            <a class="block px-8 py-6 m-0 text-sm whitespace-nowrap text-slate-700"
               href="#">
                <img src="~/Styles/image/techworld-high-resolution-logo-grayscale-transparent.png"
                     class="inline h-full max-w-full transition-all duration-200 ease-nav-brand max-h-8"
                     alt="main_logo" />
                <span class="ml-1 font-semibold transition-all duration-200 ease-nav-brand">TechWorld</span>
            </a>
        </div>

        <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />

        <div class="items-center block w-auto max-h-screen h-[400px] grow basis-full">
            <ul class="flex flex-col pl-0 mb-0">
                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "Index" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                            "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="/Admin/Index">
                        <div class="@(ViewBag.ActivePage == "Index" ?
                            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
                            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <img src="~/Styles/Image/icons8-dashboard-50.png" alt="iconUser" class="w-3 h-3">
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Dashboard</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "KhachHangList" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                            "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="/Admin/KhachHangList">
                        <div class="@(ViewBag.ActivePage == "KhachHangList" ?
                            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
                            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <img src="~/Styles/Image/icons8-user-32.png" alt="iconUser" class="w-3 h-3">
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Khách Hàng</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "NhaCungCapList" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                                "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="/Admin/NhaCungCapList">
                        <div class="@(ViewBag.ActivePage == "NhaCungCapList" ?
                            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
                            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <svg width="12px"
                                 height="12px"
                                 viewBox="0 0 42 42"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>box-3d-50</title>
                                <g stroke="none"
                                   stroke-width="1"
                                   fill="none"
                                   fill-rule="evenodd">
                                    <g transform="translate(-2319.000000, -291.000000)"
                                       fill="#FFFFFF"
                                       fill-rule="nonzero">
                                        <g transform="translate(1716.000000, 291.000000)">
                                            <g transform="translate(603.000000, 0.000000)">
                                                <path class="fill-slate-800"
                                                      d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z"></path>
                                                <path class="fill-slate-800 opacity-60"
                                                      d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"></path>
                                                <path class="fill-slate-800 opacity-60"
                                                      d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Nhà Cung Cấp</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "LoaiHangList" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                                "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="~/Admin/LoaiHangList">
                        <div class="@(ViewBag.ActivePage == "LoaiHangList" ?
                            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
                            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <img src="~/Styles/Image/icons8-category-50.png" alt="iconUser" class="w-3 h-3">
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Loại Hàng</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "SanPhamList" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                                "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="~/Admin/SanPham">
                        <div class="@(ViewBag.ActivePage == "SanPhamList" ?
                            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
                            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <img src="~/Styles/Image/icons8-product-50 (1).png" alt="iconUser" class="w-3 h-3">
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Sản Phẩm</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "TinTuc" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="~/Admin/TinTuc">
                        <div class="@(ViewBag.ActivePage == "TinTuc" ?
            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <img src="~/Styles/image/icons8-news-64.png" alt="iconUser" class="w-3 h-3">
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Tin Tức</span>
                    </a>
                </li>

                <li class="w-full mt-4">
                    <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase opacity-60">
                        Thanh Toán
                    </h6>
                </li>

                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "DonHangList" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                                "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="~/Admin/DonHang">
                        <div class="@(ViewBag.ActivePage == "DonHangList" ?
                            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
                            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <i class="fa fa-file-invoice-dollar w-3 h-3"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Hóa Đơn</span>
                    </a>
                </li>
                <li class="mt-0.5 w-full">
                    <a class="@(ViewBag.ActivePage == "DoanhThu" ? "py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" :
                "py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors")"
                       href="~/Admin/DoanhThu">
                        <div class="@(ViewBag.ActivePage == "DoanhThu" ?
            "bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5":
            "shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5")">
                            <i class="fa fa-chart-line w-3 h-3"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Doanh Thu</span>
                    </a>
                </li>
                <li class="mt-0.5 w-full">
                    <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
                       href="~/Admin/DangXuat">
                        <div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
                            <i class="fas fa-sign-out-alt w-3 h-3"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <!-- end sidenav -->

    <main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
        <!-- Navbar -->
        <nav class="relative flex flex-wrap items-center justify-between px-0 py-2 mx-6 transition-all shadow-none duration-250 ease-soft-in rounded-2xl lg:flex-nowrap lg:justify-start"
             navbar-main
             navbar-scroll="true">
            <div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
                <nav>
                    <h6 class="mb-0 font-bold capitalize">Dashboard</h6>
                </nav>

                <div class="flex items-center mt-2 grow sm:mt-0 sm:mr-6 md:mr-0 lg:flex lg:basis-auto">
                    <div class="none flex items-center md:ml-auto md:pr-4">
                        <div class="relative flex flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
                            <span class="text-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
                                <i class="fas fa-search"></i>
                            </span>
                            <input type="text"
                                   class="pl-8.75 text-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
                                   placeholder="Tìm kiếm..." />
                        </div>
                    </div>
                    <div class="flex flex-row justify-end pl-0 mb-0 list-none md-max:w-full">
                        <div class="flex items-center gap-4">
                            <div class="mt-4">
                                <h6 class="text-sm mb-0 text-slate-800 font-semibold">
                                    Phan Duy Lộc
                                </h6>
                                <p class="text-sm text-slate-600 text-sm">
                                    TechWord Admin
                                </p>
                            </div>
                            <img src="https://docs.material-tailwind.com/img/face-2.jpg" alt="avatar"
                                 class="relative inline-block object-cover object-center w-12 h-12 rounded-lg ml-4" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- end Navbar -->
        <!-- cards -->
        <div class="w-full px-6 py-6 mx-auto">
            @RenderBody()
        </div>
    </main>

    <!-- main script file  -->
    <script src="~/Styles/js/soft-ui-dashboard-tailwind.js" async></script>
    <script src="~/Styles/ckeditor/ckeditor.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        const select = document.getElementById('statusSelect');

        function updateSelectColor() {
            select.classList.remove('text-green-500', 'text-red-500', 'text-slate-400');

            if (select.value === 'Hiện') {
                select.classList.add('text-green-500');
            } else if (select.value === 'Ẩn') {
                select.classList.add('text-red-500');
            }
        }

        updateSelectColor();

        select.addEventListener('change', updateSelectColor);
    </script>
    <script src="~/Styles/HinhAnh.js"></script>
</body>
</html>

